body {
    font-family: Arial, sans-serif;
    padding: 20px;
    background-color: #f0f0f0;
}

button {
    padding: 10px 20px;
    cursor: pointer;
}

#resultado {
    margin-top: 20px;
    font-weight: bold;
}


#modalDecisionReserva {
    z-index: 1060 !important; 
}

.modal-backdrop {
    z-index: 1050 !important;
}


#modalDecisionReserva .modal-content {
    border: 2px solid #ffc107; 
    box-shadow: 0 0 20px rgba(0,0,0,0.5);
}